.sect{
    margin-left: 26vw;
    font-size: 34px;
    font-style: italic;
    
}

.result{

   align-items: center;
   padding-right: 216px;
   color:violet;

}
body{
         background-color:black; 



}
h3{

    color:yellow;

}

label{

	color : aquamarine;
}
input{
        width: 163px;
    height: 35px;
    color:green;
    font-size :13px; 

}

.btn{

	color: cyan;
	background-color: black;
	font-size: 20px;
}